.btn {
    width: 350px;
    margin: auto;
}
input {
    height: 30px;
    
    background-color: aliceblue;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    padding: 3px, 8px;
    font-family: Arial, Helvetica, sans-serif;

    &:focus {
        border: none;
    }

    &:hover {
        background-color: antiquewhite;
    }
}

img {
    width: 600px;
}